*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: hsl(0, 0%, 97%);
  max-height: 110vh;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media (max-width: 640px) {
  .desktop-navigation {
    display: none;
  }
  nav {
    padding: 15px;
  }
  nav h1 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  nav .mobile-menu-toggle {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    cursor: pointer;
    padding-top: 10px;
  }
  nav .mobile-menu-toggle img {
    width: 25px;
  }
}
@media (min-width: 640px) {
  .mobile-menu-toggle {
    display: none;
  }
  nav {
    max-width: 1300px;
    margin: auto;
    padding: 20px 15px;
  }
  nav .logo-and-ul {
    display: flex;
    align-items: center;
  }
  nav .logo-and-ul h1 {
    margin-right: 2em;
    cursor: pointer;
  }
  nav .logo-and-ul ul.desktop-navigation {
    padding-top: 5px;
    display: flex;
  }
  nav .logo-and-ul ul.desktop-navigation li {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
  }
  nav .logo-and-ul ul.desktop-navigation li img {
    padding-top: 3px;
    margin-left: 5px;
  }
  nav .logo-and-ul .dropdown {
    background-color: white;
    position: absolute;
    top: 35px;
    padding: 11px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  nav .logo-and-ul .dropdown li {
    margin: 10px 0;
  }
  nav .logo-and-ul .dropdown li img {
    margin-top: -5px;
    margin-right: 5px;
  }
  nav .logo-and-ul .dropdown:nth-of-type(1) {
    right: 0;
  }
  nav .logo-and-ul .dropdown:nth-of-type(2) {
    width: 200px;
    left: 0;
  }
  nav .buttons-container button {
    padding: 8px 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  nav .buttons-container button:nth-of-type(1) {
    margin-top: 5px;
    margin-right: 5px;
  }
  nav .buttons-container button:nth-of-type(2) {
    border-radius: 10px;
    border: 2px solid rgb(165, 165, 165);
  }
}
section#hero {
  padding-inline: 10px;
}
section#hero img {
  max-width: 100%;
}
section#hero button {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 97%);
  font-weight: bolder;
}
section#hero p {
  color: hsl(0, 0%, 41%);
}
section#hero ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.slide-out {
  transform: translateX(120%);
}

.slide-in {
  transform: translateX(0);
}

@media (max-width: 940px) {
  section#hero picture {
    margin: auto;
  }
  section#hero h1 {
    text-align: center;
    font-size: 2.3rem;
    margin-block: 1em 0.6em;
  }
  section#hero p {
    text-align: center;
    padding-inline: 13px;
    font-weight: 600;
  }
  section#hero button {
    display: block;
    margin: 25px auto 35px;
    padding: 13px 30px;
    border-radius: 10px;
    border: none;
  }
  section#hero ul {
    max-width: 400px;
    margin: auto;
  }
  section#hero ul img {
    width: 60px;
  }
  section#hero aside {
    transition: 0.3s;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    width: 60%;
    height: 100vh;
    padding: 10px;
  }
  section#hero aside .close-aside {
    padding: 10px;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
  }
}
@media (min-width: 940px) {
  aside {
    display: none;
  }
  section#hero {
    max-width: 1150px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
  }
  section#hero picture {
    width: 35%;
    min-width: 450px;
    margin-left: 3em;
  }
  section#hero h1 {
    font-size: 4.8rem;
    line-height: 3.8rem;
    margin-top: 1.5em;
  }
  section#hero h1 span {
    display: block;
  }
  section#hero p {
    text-align: left;
    font-size: 17px;
    line-height: 24px;
    margin-block: 2.8em 2.2em;
    max-width: 400px;
    font-weight: 600;
  }
  section#hero button {
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  section#hero button:hover {
    background-color: hsl(0, 0%, 97%);
    color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
  }
  section#hero ul {
    position: absolute;
    bottom: 10px;
  }
  section#hero ul li {
    margin-inline: 15px;
    cursor: pointer;
  }
}/*# sourceMappingURL=styles.css.map */