section#hero {
  max-width: 1100px;
  margin: auto;
  padding: 10px;

  p {
    color: variables.$grayish-violet;
  }

  button {
    color: white;
    background-color: variables.$cyan;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
  }
}

// mobile styles
@media (max-width: 700px) {
  section#hero {
    .introduction {
      h1,
      p {
        text-align: center;
      }
      h1 {
        font-size: 30px;
        line-height: 30px;
        margin-block:40px 10px;
      }
      p{
        font-size: 15px;
        padding-inline:15px;
        
      }
      button {
        display: block;
        padding: 8px 20px;
        margin: 15px auto;
      }
    }
    .animation {
      display: none;
    }
  }
}

// desktop styles
@media (min-width: 700px) {
  section#hero {
    display: flex;
    align-items: center;
    padding: 40px 20px;

    .introduction {
      min-width: 45%;
      h1 {
        font-size: 3.8rem;
        line-height: 3.5rem;
        letter-spacing: -1.5px;
        margin-bottom: 12px;
        word-spacing: 5px;
      }
      p {
        max-width: 380px;
        margin-bottom: 20px;
      }
      button {
        padding: 10px 35px;
      }
      button:hover {
        opacity: 0.8;
      }
    }
    .animation {
      padding-top: 20px;
      img {
        max-width: 100%;
      }
    }
  }
}
