@use "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: variables.$apple-font;
}

body {
  background-color: rgb(236, 236, 236);
}
// import header styles
@import "../components/Header/header";
// import hero styles
@import "../components/Hero/hero";
// import link input styles
@import "../components/LinkInput/linkInput";
// import footer styles
@import "../components/Footer/footer";
