* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: rgba(216, 222, 223, 0.324);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 15px 10px;
}
header ul {
  list-style: none;
  color: hsl(257, 7%, 63%);
}
header button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  color: hsl(257, 7%, 63%);
}
header button:nth-of-type(1):hover {
  color: hsl(260, 8%, 14%);
}
header button:nth-of-type(2) {
  margin-left: 30px;
  background-color: hsl(180, 66%, 49%);
  padding: 8px 20px;
  border-radius: 20px;
  color: white;
}
header button:nth-of-type(2):hover {
  opacity: 0.8;
}

.slideAside {
  display: none;
}

.slideOut {
  display: block;
}

@media (max-width: 650px) {
  .hide-on-mobile {
    display: none;
  }
  header h1 {
    font-size: 28px;
    margin-top: -3px;
  }
  header img {
    width: 25px;
    cursor: pointer;
  }
  aside {
    position: absolute;
    top: 60px;
    background-color: hsl(257, 27%, 26%);
    padding: 20px;
    border-radius: 10px;
    left: 10px;
    right: 10px;
    transition: 0.2s;
    text-align: center;
  }
  aside ul {
    font-size: 16px;
    font-weight: bold;
  }
  aside ul hr {
    margin-block: 20px;
    border: none;
    height: 1px;
    width: 80%;
    margin-inline: auto;
    background-color: hsl(257, 7%, 63%);
  }
  aside ul li {
    margin-block: 12px;
    color: white;
  }
  aside ul button {
    color: inherit;
  }
  aside ul li:nth-of-type(6) {
    margin-top: 5px;
  }
  aside ul li:nth-of-type(6) button {
    padding-block: 10px;
    width: 100%;
    border-radius: 20px;
    background-color: hsl(180, 66%, 49%);
  }
}
@media (min-width: 650px) {
  .hide-on-desktop {
    display: none;
  }
  .left-container {
    display: flex;
    align-items: center;
  }
  .left-container h1 {
    font-size: 22px;
    margin-top: -3px;
  }
  .left-container ul {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 35px;
    font-weight: bold;
  }
  .left-container ul li:hover {
    cursor: pointer;
    color: hsl(260, 8%, 14%);
  }
}
section#hero {
  max-width: 1100px;
  margin: auto;
  padding: 10px;
}
section#hero p {
  color: hsl(257, 7%, 63%);
}
section#hero button {
  color: white;
  background-color: hsl(180, 66%, 49%);
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 700px) {
  section#hero .introduction h1,
  section#hero .introduction p {
    text-align: center;
  }
  section#hero .introduction h1 {
    font-size: 30px;
    line-height: 30px;
    margin-block: 40px 10px;
  }
  section#hero .introduction p {
    font-size: 15px;
    padding-inline: 15px;
  }
  section#hero .introduction button {
    display: block;
    padding: 8px 20px;
    margin: 15px auto;
  }
  section#hero .animation {
    display: none;
  }
}
@media (min-width: 700px) {
  section#hero {
    display: flex;
    align-items: center;
    padding: 40px 20px;
  }
  section#hero .introduction {
    min-width: 45%;
  }
  section#hero .introduction h1 {
    font-size: 3.8rem;
    line-height: 3.5rem;
    letter-spacing: -1.5px;
    margin-bottom: 12px;
    word-spacing: 5px;
  }
  section#hero .introduction p {
    max-width: 380px;
    margin-bottom: 20px;
  }
  section#hero .introduction button {
    padding: 10px 35px;
  }
  section#hero .introduction button:hover {
    opacity: 0.8;
  }
  section#hero .animation {
    padding-top: 20px;
  }
  section#hero .animation img {
    max-width: 100%;
  }
}
section#link-container {
  overflow: hidden;
  width: 80%;
  max-width: 1100px;
  margin: auto;
  margin-block: 20px;
}
section#link-container section#link {
  padding: 20px;
  border-radius: 10px;
  background-color: hsl(257, 27%, 26%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#link-container section#link form {
  width: 100%;
  display: flex;
  align-items: center;
}
section#link-container section#link form button {
  background-color: hsl(180, 66%, 49%);
  color: white;
  height: 35px;
  padding-inline: 25px;
  margin-left: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
section#link-container section#link form input {
  border-radius: 5px;
  width: 100%;
  height: 35px;
  padding-inline: 5px;
  border: none;
}
section#link-container section#link form input:focus {
  outline: none;
}
section#link-container .copy {
  display: flex;
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}
section#link-container .copy button {
  border: none;
  background-color: hsl(180, 66%, 49%);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
section#link-container .copy input {
  border: none;
}

#copy {
  width: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media (min-width: 650px) {
  section#link-container section#link {
    padding-block: 30px;
  }
}
.footer-wrapper {
  background-color: hsl(260, 8%, 14%);
  color: white;
  margin-top: 20px;
}
.footer-wrapper footer {
  padding: 40px 15px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer-wrapper footer ul {
  list-style: none;
}
.footer-wrapper footer ul li {
  margin-bottom: 5px;
}
.footer-wrapper footer ul li:hover {
  color: hsl(180, 66%, 49%);
  cursor: pointer;
}
.footer-wrapper footer .socials {
  display: flex;
}
.footer-wrapper footer .socials li {
  margin-inline: 5px;
}

@media (max-width: 800px) {
  footer {
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
  }
  footer h2 {
    display: none;
  }
  footer .socials {
    margin-bottom: 10px;
  }
  footer ul {
    text-align: center;
  }
  footer ul:nth-of-type(2), footer ul:nth-of-type(3) {
    display: none;
  }
}
section#advanced-statistics h2,
section#advanced-statistics p {
  text-align: center;
}
section#advanced-statistics h2 {
  margin-bottom: 5px;
}
section#advanced-statistics .flex-container {
  padding: 10px;
  display: flex;
  max-width: 1200px;
  margin: auto;
  gap: 20px;
}
section#advanced-statistics .card {
  background-color: white;
  padding: 60px 30px 30px;
  border-radius: 5px;
  position: relative;
}
section#advanced-statistics .card img {
  left: 20px;
  top: -30px;
  position: absolute;
  background-color: hsl(257, 27%, 26%);
  padding: 15px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
section#advanced-statistics .card p {
  text-align: left;
  margin-block: 10px;
}

@media (max-width: 650px) {
  section#advanced-statistics {
    margin-top: 40px;
  }
  section#advanced-statistics p {
    margin-bottom: 33px;
  }
  section#advanced-statistics .flex-container {
    flex-direction: column;
  }
}
@media (min-width: 650px) {
  section#advanced-statistics {
    margin-block: 40px;
    padding-bottom: 80px;
  }
  section#advanced-statistics h2 {
    font-size: 30px;
  }
  section#advanced-statistics p {
    color: hsl(257, 7%, 63%);
    max-width: 410px;
    margin: auto;
  }
  section#advanced-statistics p:nth-of-type(1) {
    margin-bottom: 20px;
  }
  section#advanced-statistics .flex-container .card:nth-of-type(2) {
    position: relative;
    bottom: -40px;
  }
  section#advanced-statistics .flex-container .card:nth-of-type(3) {
    position: relative;
    bottom: -80px;
  }
}/*# sourceMappingURL=styles.css.map */