* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}
header ul {
  list-style: none;
  color: hsl(257, 7%, 63%);
}
header button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  color: hsl(257, 7%, 63%);
}
header button:nth-of-type(1):hover {
  color: hsl(260, 8%, 14%);
}
header button:nth-of-type(2) {
  margin-left: 30px;
  background-color: hsl(180, 66%, 49%);
  padding: 8px 20px;
  border-radius: 20px;
  color: white;
}
header button:nth-of-type(2):hover {
  opacity: 0.8;
}

.slideAside {
  display: none;
}

.slideOut {
  display: block;
}

@media (max-width: 650px) {
  .hide-on-mobile {
    display: none;
  }
  header h1 {
    font-size: 28px;
    margin-top: -3px;
  }
  header img {
    width: 25px;
    cursor: pointer;
  }
  aside {
    position: absolute;
    top: 60px;
    background-color: hsl(257, 27%, 26%);
    padding: 20px;
    border-radius: 10px;
    left: 10px;
    right: 10px;
    transition: 0.2s;
    text-align: center;
  }
  aside ul {
    font-size: 16px;
    font-weight: bold;
  }
  aside ul hr {
    margin-block: 20px;
    border: none;
    height: 1px;
    width: 80%;
    margin-inline: auto;
    background-color: hsl(257, 7%, 63%);
  }
  aside ul li {
    margin-block: 12px;
    color: white;
  }
  aside ul button {
    color: inherit;
  }
  aside ul li:nth-of-type(6) {
    margin-top: 5px;
  }
  aside ul li:nth-of-type(6) button {
    padding-block: 10px;
    width: 100%;
    border-radius: 20px;
    background-color: hsl(180, 66%, 49%);
  }
}
@media (min-width: 650px) {
  .hide-on-desktop {
    display: none;
  }
  .left-container {
    display: flex;
    align-items: center;
  }
  .left-container h1 {
    font-size: 22px;
    margin-top: -3px;
  }
  .left-container ul {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 35px;
    font-weight: bold;
  }
  .left-container ul li:hover {
    cursor: pointer;
    color: hsl(260, 8%, 14%);
  }
}
section#hero {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}
section#hero p {
  color: hsl(257, 7%, 63%);
}
section#hero button {
  color: white;
  background-color: hsl(180, 66%, 49%);
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 700px) {
  section#hero .introduction h1,
  section#hero .introduction p {
    text-align: center;
  }
  section#hero .introduction h1 {
    font-size: 30px;
    line-height: 30px;
    margin-block: 40px 10px;
  }
  section#hero .introduction p {
    font-size: 15px;
    padding-inline: 15px;
  }
  section#hero .introduction button {
    display: block;
    padding: 8px 20px;
    margin: 15px auto;
  }
  section#hero .animation {
    display: none;
  }
}
@media (min-width: 700px) {
  section#hero {
    display: flex;
    align-items: center;
    padding: 40px 20px;
  }
  section#hero .introduction {
    min-width: 45%;
  }
  section#hero .introduction h1 {
    font-size: 3.8rem;
    line-height: 3.5rem;
    letter-spacing: -1.5px;
    margin-bottom: 12px;
    word-spacing: 5px;
  }
  section#hero .introduction p {
    max-width: 380px;
    margin-bottom: 20px;
  }
  section#hero .introduction button {
    padding: 10px 35px;
  }
  section#hero .introduction button:hover {
    opacity: 0.8;
  }
  section#hero .animation {
    padding-top: 20px;
  }
  section#hero .animation img {
    max-width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */