@use "./variables";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// partial navbar styles
@import "../components/Navbar/navbar";
// partial hero styles
@import "../components/Hero/hero";
