*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(235, 18%, 26%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body img {
  max-width: 100%;
}

section#form ul {
  list-style: none;
}
section#form input,
section#form button {
  border-radius: 8px;
  border: none;
  width: 100%;
}
section#form input:focus {
  outline: none;
}
section#form label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
section#form label span {
  padding: 5px;
}

@media (max-width: 750px) {
  section#form {
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    max-width: 400px;
    margin: auto;
    border-radius: 20px;
    padding-bottom: 15px;
  }
  section#form picture {
    width: 100%;
  }
  section#form picture img {
    width: 100%;
  }
  section#form .left-desktop-container {
    padding: 15px;
  }
  section#form .left-desktop-container h1 {
    font-size: 2rem;
    padding-block: 10px 15px;
  }
  section#form .left-desktop-container p {
    padding-bottom: 15px;
  }
  section#form .left-desktop-container ul li {
    display: flex;
  }
  section#form .left-desktop-container ul li img {
    margin-top: -17px;
    margin-right: 5px;
  }
  section#form .left-desktop-container form input {
    padding-block: 10px;
    margin-bottom: 15px;
    border: 1px solid hsl(234, 29%, 20%);
  }
  section#form .left-desktop-container form button {
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    padding-block: 15px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
  }
}
@media (min-width: 750px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  main#main-container {
    max-width: 800px;
    overflow: hidden;
  }
  main#main-container section#form {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    border-radius: 30px;
    padding: 15px;
    gap: 30px;
  }
  main#main-container section#form .left-desktop-container {
    padding-inline: 30px 0px;
    max-width: 49%;
  }
  main#main-container section#form .left-desktop-container h1 {
    font-size: 2.2rem;
    padding-block: 0 20px;
  }
  main#main-container section#form .left-desktop-container .intro {
    margin-bottom: 25px;
    font-size: 14px;
    color: hsl(234, 29%, 20%);
  }
  main#main-container section#form .left-desktop-container ul {
    margin-bottom: 30px;
  }
  main#main-container section#form .left-desktop-container ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
  }
  main#main-container section#form .left-desktop-container ul li img {
    margin-right: 8px;
  }
  main#main-container section#form .left-desktop-container label .error {
    padding-right: 10px;
    display: none;
  }
  main#main-container section#form .left-desktop-container input {
    border: 1px solid hsl(234, 29%, 20%);
    font-size: 16px;
    padding: 10px 10px;
  }
  main#main-container section#form .left-desktop-container button {
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    padding-block: 14px;
    font-weight: bold;
    margin-top: 13px;
    cursor: pointer;
  }
  main#main-container section#form .left-desktop-container button:hover {
    background-image: linear-gradient(to right, hsl(4, 100%, 67%), orange);
  }
  main#main-container section#form picture {
    padding-left: 10px;
  }
}/*# sourceMappingURL=styles.css.map */