* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: normal;
}

body {
  background-color: hsl(270, 3%, 87%);
  font-family: "Space Grotesk", sans-serif;
}
body label {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}
body input {
  border: 1px solid hsl(270, 3%, 87%);
  padding-left: 1vmin;
  border-radius: 5px;
}
body input:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

main {
  background-color: hsl(0, 0%, 100%);
}

.container {
  display: flex;
  margin: 7.5vh auto;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}
.container aside {
  background-image: url(../images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 32%;
}
.container main {
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  position: relative;
  display: grid;
  place-content: center;
}
.container main .card-inputs label {
  font-size: 1.5vmin;
  margin: 1.5vmin 0vmin 0.5vmin;
}
.container main .card-inputs input {
  width: 100%;
}
.container main .card-inputs .expiry-input {
  display: flex;
}
.container main .card-inputs .flex {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.container main .card-inputs button {
  background-color: hsl(278, 68%, 11%);
  border: none;
  color: hsl(0, 0%, 100%);
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer;
}
.container main .absolute-cards-container {
  position: absolute;
  display: flex;
  flex-direction: column;
}
.container main .absolute-cards-container .front-card {
  background-image: url(../images/bg-card-front.png);
  color: hsl(0, 0%, 100%);
}
.container main .absolute-cards-container .front-card .circles {
  display: flex;
  align-items: center;
}
.container main .absolute-cards-container .front-card .circles .big-circle {
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
}
.container main .absolute-cards-container .front-card .circles .small-circle {
  border: 0.2vmin solid hsl(0, 0%, 100%);
  border-radius: 50%;
}
.container main .absolute-cards-container .front-card .number {
  letter-spacing: 0.3vmin;
}
.container main .absolute-cards-container .front-card .flex {
  display: flex;
  justify-content: space-between;
}
.container main .absolute-cards-container .back-card {
  background-image: url(../images/bg-card-back.png);
  display: grid;
  align-items: center;
  justify-content: flex-end;
}
.container main .absolute-cards-container .back-card .cvc-number {
  color: hsl(0, 0%, 100%);
}
.container main .absolute-cards-container .card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 1.5vmin;
}

.thankyou {
  width: 40vmin;
  margin-left: 10vmin;
  display: block;
  text-align: center;
}
.thankyou h2 {
  margin-block: 10px 5px;
}
.thankyou p {
  margin-bottom: 5px;
}

@media (max-width: 1250px) {
  .container {
    max-width: 75vw;
    height: 85vh;
  }
  .container main {
    width: 68%;
    padding: 20px;
    padding-left: 10vmin;
  }
  .container main .card-inputs {
    width: 40vmin;
    margin-left: 10vmin;
  }
  .container main .card-inputs label {
    font-size: 1.3vmin;
    margin: 1.3vmin 0vmin 0.4vmin;
  }
  .container main .card-inputs input {
    width: 100%;
    height: 5vmin;
    font-size: 1.8vmin;
    margin-bottom: 0.9vmin;
  }
  .container main .card-inputs .expiry-input input {
    width: 7vmin;
  }
  .container main .card-inputs .expiry-input input:nth-of-type(1) {
    margin-right: 0.5vmin;
  }
  .container main .card-inputs .cvc input {
    width: 20px;
  }
  .container main .card-inputs button {
    height: 6vmin;
    margin-top: 3vmin;
    font-size: 2vmin;
    width: 100%;
    border-radius: 5px;
  }
  .container main .absolute-cards-container {
    left: -34%;
    top: 50%;
    transform: translateY(-50%);
  }
  .container main .absolute-cards-container .front-card {
    padding: 3vmin;
  }
  .container main .absolute-cards-container .front-card .circles .big-circle {
    width: 4.2vmin;
    height: 4.3vmin;
    border-radius: 50%;
    margin-right: 1.5vmin;
  }
  .container main .absolute-cards-container .front-card .circles .small-circle {
    height: 2vmin;
    width: 2vmin;
    border-radius: 50%;
  }
  .container main .absolute-cards-container .front-card .number {
    letter-spacing: 0.3vmin;
    font-size: 2.8vmin;
    margin-top: 6.5vmin;
  }
  .container main .absolute-cards-container .front-card .flex {
    display: flex;
    margin-top: 1.5vmin;
  }
  .container main .absolute-cards-container .front-card .flex .name,
  .container main .absolute-cards-container .front-card .flex .expiry span,
  .container main .absolute-cards-container .front-card .flex .expiry {
    font-size: 1.6vmin;
  }
  .container main .absolute-cards-container .back-card {
    margin-left: 4vw;
    margin-top: 3vh;
    padding: 5vmin;
  }
  .container main .absolute-cards-container .back-card .cvc-number {
    font-size: 2vmin;
    letter-spacing: 0.3vmin;
    padding-bottom: 0.2vmin;
  }
  .container main .absolute-cards-container .card {
    width: 43vmin;
    height: 25vmin;
  }
}
@media (max-width: 1050px) {
  * {
    display: none;
  }
}
@media (min-width: 1250px) {
  .container {
    max-width: 75vw;
    height: 85vh;
  }
  .container main {
    width: 68%;
    padding: 20px;
    padding-left: 10vmin;
  }
  .container main .card-inputs {
    width: 45vmin;
  }
  .container main .card-inputs label {
    font-size: 1.5vmin;
    margin: 1.5vmin 0vmin 0.5vmin;
  }
  .container main .card-inputs input {
    width: 100%;
    height: 5vmin;
    font-size: 2vmin;
    margin-bottom: 1vmin;
  }
  .container main .card-inputs .expiry-input input {
    width: 8vmin;
  }
  .container main .card-inputs .expiry-input input:nth-of-type(1) {
    margin-right: 0.5vmin;
  }
  .container main .card-inputs .cvc input {
    width: 20px;
  }
  .container main .card-inputs button {
    height: 6vmin;
    margin-top: 3vmin;
    font-size: 2vmin;
    width: 100%;
    border-radius: 5px;
  }
  .container main .absolute-cards-container {
    left: -30%;
    top: 50%;
    transform: translateY(-50%);
  }
  .container main .absolute-cards-container .front-card {
    padding: 3vmin;
  }
  .container main .absolute-cards-container .front-card .circles .big-circle {
    width: 4.5vmin;
    height: 4.5vmin;
    border-radius: 50%;
    margin-right: 1.5vmin;
  }
  .container main .absolute-cards-container .front-card .circles .small-circle {
    height: 2vmin;
    width: 2vmin;
    border-radius: 50%;
  }
  .container main .absolute-cards-container .front-card .number {
    letter-spacing: 0.3vmin;
    font-size: 3vmin;
    margin-top: 6.5vmin;
  }
  .container main .absolute-cards-container .front-card .flex {
    display: flex;
    margin-top: 1.5vmin;
  }
  .container main .absolute-cards-container .front-card .flex .name,
  .container main .absolute-cards-container .front-card .flex .expiry span,
  .container main .absolute-cards-container .front-card .flex .expiry {
    font-size: 1.8vmin;
  }
  .container main .absolute-cards-container .back-card {
    margin-left: 4vw;
    margin-top: 3vh;
    padding: 5vmin;
  }
  .container main .absolute-cards-container .back-card .cvc-number {
    font-size: 2vmin;
    letter-spacing: 0.3vmin;
    padding-bottom: 0.2vmin;
  }
  .container main .absolute-cards-container .card {
    width: 45vmin;
    height: 25vmin;
  }
}/*# sourceMappingURL=main.css.map */