@import "../../styles/variables";
section#link-container {
  overflow: hidden;
  width: 80%;
  max-width: 1100px;
  margin: auto;
  margin-block: 20px;
  section#link {
    padding: 20px;
    border-radius: 10px;
    background-color: variables.$dark-violet;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      width: 100%;
      display: flex;
      // justify-content: space-between;
      align-items: center;

      button {
        background-color: variables.$cyan;
        color: white;
        height: 35px;
        padding-inline: 25px;
        margin-left: 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
      input {
        border-radius: 5px;
        width: 100%;
        height: 35px;
        padding-inline: 5px;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .copy {
    display: flex;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    button {
      border: none;

      background-color: variables.$cyan;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }

    input {
      border: none;
    }
  }
}

#copy {
  width: 100%;
}
.hide {
  display: none;
}
.show {
  display: block;
}

// desktop styles
@media (min-width: 650px) {
  section#link-container {
    margin-block: 30px 60px;
    section#link {
      padding: 50px 60px;
    }
  }
}
