@use "../../styles/variables";

section#form {
  ul {
    list-style: none;
  }
  input,
  button {
    border-radius: 8px;
    border: none;
    width: 100%;
  }
  input:focus {
    outline: none;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;

    span {
      padding: 5px;
    }
  }
}
// mobile designe
@media (max-width: 750px) {
  section#form {
    background-color: variables.$white-clr;
    width: 100%;
    max-width: 400px;
    margin: auto;
    border-radius: 20px;
    padding-bottom: 15px;

    picture {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .left-desktop-container {
      padding: 15px;

      h1 {
        font-size: 2rem;
        padding-block: 10px 15px;
      }

      p {
        padding-bottom: 15px;
      }
      ul {
        li {
          display: flex;

          img {
            margin-top: -17px;
            margin-right: 5px;
          }
        }
      }
      form {
        input {
          //   height: 30px;
          padding-block: 10px;
          margin-bottom: 15px;
          border: 1px solid variables.$dark-gray-clr;
        }
        button {
          background-color: variables.$dark-gray-clr;
          color: variables.$white-clr;
          padding-block: 15px;
          font-size: 17px;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}

//desktop Designe

@media (min-width: 750px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  main#main-container {
    max-width: 800px;
    overflow: hidden;
    // background-color: red;
    section#form {
      background-color: variables.$white-clr;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      border-radius: 30px;
      padding: 20px;
      gap: 30px;

      .left-desktop-container {
        // margin: auto;
        padding-inline: 30px 0px;
        max-width: 49%;
        // background-color: red;
        h1 {
          font-size: 2.8rem;
          padding-block: 70px 20px;
          // font-weight: bolder;
        }

        .intro {
          margin-bottom: 25px;

          color: variables.$dark-gray-clr;
        }

        ul {
          margin-bottom: 25px;

          li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            font-size: 15px;

            img {
              margin-right: 8px;
            }
          }
        }
        label {
          .error {
            padding-right: 10px;
          }
        }
        input {
          border: 1px solid variables.$dark-gray-clr;
          font-size: 16px;
          padding: 10px 10px;
        }

        button {
          background-color: variables.$dark-gray-clr;
          color: variables.$white-clr;
          font-size: 16px;
          padding-block: 14px;
          font-weight: bold;
          margin-top: 13px;
          cursor: pointer;

          &:hover {
            background-image: linear-gradient(
              to right,
              variables.$tomato-clr,
              orange
            );
          }
        }
      }
      picture {
        // background-color: red;
        padding-left: 10px;
      }
    }
  }
}
