@use "../../styles/variables";
section#hero {
  padding-inline: 10px;
  img {
    max-width: 100%;
  }
  button {
    background-color: variables.$black;
    color: variables.$white;
    font-weight: bolder;
  }
  p {
    color: variables.$dark-gray;
  }
  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
  }
}
.slide-out {
  transform: translateX(120%);
}
.slide-in {
  transform: translateX(0);
}

// mobile design

@media (max-width: 940px) {
  section#hero {
    picture {
      margin: auto;
    }
    h1 {
      text-align: center;
      font-size: 2.3rem;
      margin-block: 1em 0.6em;
    }
    p {
      text-align: center;
      padding-inline: 13px;
      font-weight: 600;
    }
    button {
      display: block;
      margin: 25px auto 35px;
      padding: 13px 30px;
      border-radius: 10px;
      border: none;
    }
    ul {
      max-width: 400px;
      margin: auto;
      img {
        width: 60px;
      }
    }
    aside {
      transition: 0.3s;
      position: fixed;
      top: 0;
      right: 0;
      background-color: white;
      width: 60%;
      height: 100vh;
      padding: 10px;
      .close-aside {
        padding: 10px;
        width: fit-content;
        margin-left: auto;
      }
    }
  }
}
// desktop design
@media (min-width: 940px) {
  aside {
    display: none;
  }
  section#hero {
    // padding-top: 4em;
    max-width: 1150px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    // background-color: red;
    position: relative;

    picture {
      width: 35%;
      min-width: 450px;
      margin-left: 3em;
    }

    h1 {
      font-size: 4.8rem;
      line-height: 3.8rem;
      margin-top: 1.5em;
      span {
        display: block;
      }
    }
    p {
      text-align: left;
      font-size: 17px;
      line-height: 24px;
      margin-block: 2.8em 2.2em;
      max-width: 400px;
      font-weight: 600;
    }
    button {
      border: none;
      font-size: 18px;
      padding: 10px 20px;
      border-radius: 10px;
      cursor: pointer;
    }
    button:hover {
      background-color: variables.$white;
      color: variables.$black;
      border: 1px solid variables.$black;
    }

    ul {
      position: absolute;
      bottom: 10px;

      li {
        margin-inline: 15px;
        cursor: pointer;
      }
    }
  }
}
